[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/vendor/start/repeat"]
	path = vim/pack/vendor/start/repeat
	url = https://tpope.io/vim/repeat.git
[submodule "vim/pack/vendor/start/vim-surround"]
	path = vim/pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/vendor/start/vimtex"]
	path = vim/pack/vendor/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/plugged/vim-code-dark"]
	path = vim/plugged/vim-code-dark
	url = git@github.com:tomasiser/vim-code-dark.git
