[user]
	name = Michael Luu
  email = 67599521+kemonprogrammer@users.noreply.github.com
[includeIf "gitdir:~/hc/"]
  path = ~/.gitconfig.work
[core]
	editor = vim
	autocrlf = input
[alias]
	a = add
	d = diff
	st = status
	f = fetch
	c = commit
	ca = commit -a
	ch = checkout
  ex = soft-exclude 
  soft-exclude = "!f() { git reset --soft HEAD^ || exit 1; for file in \"$@\"; do git restore --staged \"$file\" || exit 1; done; git commit -C HEAD@{1}; }; f"
	ps = push
	pl = pull
	br = branch
	ba = branch -a
	bd = branch -d
	bD = branch -D
  #gr = log --oneline --graph --all
  gr = log --graph --all --pretty=format:'%C(auto)%h (%cd) %s %d' --date=format-local:'%d.%m.%Y %H:%M'
	unstage = reset HEAD --
	last = log -1 HEAD
	open = !gh browse
	root = rev-parse --show-toplevel
	sma = submodule add
	smu = submodule foreach git submodule update --remote
	s = status
	ss = status --short
	wta = worktree add
	wtl = worktree list
	wtr = worktree remove
[push]
	default = current
[maintenance]
	repo = /home/michael/HC/MAAS/nm-abo
	repo = /home/michael/HC/MAAS/htd-api/user-service
	repo = /home/michael/HC/MAAS/hansecom_keycloak_themes
	repo = /home/michael/HAW/S7/WP_QRK/hurtigruten
	repo = /home/michael/HC/api/maas-hub
[init]
	defaultBranch = main
[http]
	postBuffer = 157286400
