[user]
	name = Michael Luu
	email = 67599521+kemonprogrammer@users.noreply.github.com
[core]
	editor = vim
	autocrlf = input
[alias]
	st = status
	root = rev-parse --show-toplevel
	ci = commit
	co = checkout
	unstage = reset HEAD --
	last = log -1 HEAD
	ca = commit -a
	open = !gh browse
	gr = log --oneline --graph
	ps = push
	pl = pull
	d = diff
	a = add
	br = branch
	ba = branch -a
